.color-panel {
  height: 80px;
  display: flex;
  align-content: center;
  padding: 5px;
  flex-wrap: wrap;
  width: 270px;

  .color {
    border: 1px solid white;
    outline: 1px solid rgb(180, 180, 180);
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: transform 0.2s;

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s;
    }
  }
}

.color-selected {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid white;
  outline: 1px solid rgb(180, 180, 180);
}
