.content {
    flex: 1;
    height: 100%;
    display: flex;
}

.canvas {
    flex: 1;
    padding: 5px;
    background-color: rgb(221, 221, 221);

    & .canvas-actual {
        cursor: crosshair;
        background-color: white;
    }

    & .canvas-overlay {
        position: absolute;
        transform: translateX(-100%);
        pointer-events: none;
    }
}

